[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
	ignore = dirty
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
	ignore = dirty
[submodule "bundle/ctags"]
	path = bundle/ctags
	url = https://github.com/vim-jp/ctags.git
	ignore = dirty
[submodule "bundle/python-mode"]
	path = bundle/python-mode
	url = https://github.com/klen/python-mode.git
	ignore = dirty
[submodule "bundle/solarized"]
	path = bundle/solarized
	url = https://github.com/altercation/solarized.git
	ignore = dirty
[submodule "bundle/conque"]
	path = bundle/conque
	url = https://github.com/nicoraffo/conque.git
	ignore = dirty
